
html body {    
  color: #ffffff;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 90%;
  background-color: #eee;

}

#container {
  margin: 0 auto;
  text-align: left;
}

.content {  
  width: 100%;
  
}
#svg-map {  
  width: 80%;
  fill: #F8F6F4;
  stroke: black;
  stroke-width: 0.1;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: black;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-in-out;
}

.tooltip:hover::after {
  visibility: visible;
  opacity: 1;
}
#tooltipContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 30px;
  font-size: 0.6em;
  background-color: black;
  border-radius: 8px;
  opacity: 0.6;
}